# emacs
emacs/.config/emacs/elpa
emacs/.config/emacs/copilot.el
*~


!emacs/.config/emacs/
!emacs/.config/emacs/snippets/
!emacs/.config/emacs/snippets/**
emacs/.config/emacs/snippets/**/*~
!emacs/.config/emacs/custom-elisp/
!emacs/.config/emacs/custom-elisp/**
emacs/.config/emacs/custom-elisp/*~
emacs/.config/emacs/custom-elisp/**/*~



# nvim
!/nvim/.config/nvim/
!/nvim/.config/nvim/lua/
!/nvim/.config/nvim/lua/andy/
!/nvim/.config/nvim/lua/andy/core/
!/nvim/.config/nvim/lua/andy/plugins/
!/nvim/.config/nvim/lua/andy/plugins/*.lua

# aerospace window manager
!/aerospace/.config
!/aerospace/.config/aerospace.toml


# kitty terminal
!/kitty/.config/kitty/
!/kitty/.config/kitty/kitty.conf

# i3 window manager for linux systems
!i3/.config/i3/
!i3/.config/i3/config

