# General
*~
**/.DS_Store
*.bu
# emacs
emacs/.config/emacs/elpa
emacs/.config/emacs/copilot.el
emacs/.config/emacs/


# nvim
nvim/.config/nvim/lazy-lock.json
migrate.sh
clean.sh

# vim
vim/.vim/undodir


# kitty
kitty/.config/kitty/cyberdream.conf


# espanso
espanso/.config/espanso/config


